.slogan {
  background-color: #FFFFFF;

  text-align: center;
}

.slogan h2 {
  text-transform: uppercase;

  width: 720px;
  margin: 0 auto;
}

.reasons ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.reasons-item {
  text-align: center;
  padding: 20px;
}

.reasons-item h3 {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;

  width: 150px;
  margin: 0 auto;
}

.reasons-item p {
  width: 250px;
  margin: 0 auto;
}

.reason-image {
  padding: 0px;
}

.reason-city,
.reason-bridge {
  background-color: #83B3D3;
  color: #FFFFFF;
}

.reason-city p,
.reason-bridge p {
  width: 220px;
}

.reasons-motel,
.reasons-memento,
.reasons-square,
.reasons-tourists {
  background-color: hsl(204 48% 67% / 0.12);
}

.reasons-way {
  background-color: hsl(204 48% 67% / 0.2);
}

.reasons-food {
  background-color: #FFFFFF;
}

.interested {
  background-color: #FFFFFF;

  text-align: center;
}

.interested h2 {
  text-transform: uppercase;
}

.newsletter {
  background-image: url("../images/newsletter-background.jpg");
  color: #FFFFFF;
  
  text-align: center;
}

.newsletter h2 {
  text-transform: uppercase;
}
