/* Fonts */

@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/* Common */

html {
  height: 100%;

}

body {
  min-height: 100%;


  display: flex;
  flex-direction: column;

  background-color: #F2F2F2;
  color: #333333;

  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;

  width: 1200px;
  margin: 0px auto;
}

.page-container {
  flex-grow: 1;

  background-color: #FFFFFF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header */

.page-header {
  background-color: #FFFFFF;
  color: #000000;
}

.main-nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

}

.navigation-list {
  margin: 0px;
  padding: 20px;
  width: 400px;
  list-style-type: none;

  display: flex;
  flex-flow: row wrap;
}

.navigation-user{
  justify-content: right;
}

.navigation-link {
  padding: 10px;
  color: #000000;
  text-decoration: none;
}

.navigation-logo {
  width: 140px;
}
.navigation-logo img {
  position: absolute;
}

.text-welcome {
  background-image: url("../images/welcome-background.jpg");
  background-size: auto 100%;
  background-position: top center;
  background-repeat: no-repeat;
  text-align: center;
}

.inscription-welcome {
  margin: 50px auto 55px;
}

.text-welcome::after {
  content: url("../images/welcome-bg-border.svg");
  height: 57px;
  display: block;
}

/* Footer */

.page-footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  background-color: #FFFFFF;
  color: #000000;
  padding: 0px 70px;
}

.page-footer a {
  color: #000000;
  text-decoration: none;
}

.social {
  margin: 0px;
  padding: 0px;
  list-style-type: none;

  width: 300px;
  display: flex;
  flex-flow: row wrap;
}

.social-item {
  margin: 0px 30px 0px 0px;
  padding:10px;
}

.social-item:active {
  padding: 7px;
  border: 3px solid black;
  border-radius: 10px;
}

.social-item a {
  display: block;
  width: 20px;
  height: 20px;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  margin: 40px 0px 30px 0px;
}

.copyright {
  margin: 0px;
  width: 250px;
  text-align: right;
}

/* Buttons */

.button {
  font-size: 16px;
  text-transform: uppercase;

  background-color: #756257;
  color: #FFFFFF;

  border: none;
}

.button-middle {
  font-size: 18px;
}

.button-large {
  font-size: 20px;
}

.button-info {
  background-color: #83B3D3;
  color: #FFFFFF;
}

.button-success {
  background-color: #7DB54F;
  color: #FFFFFF;
}

.button-blank {
  background-color: transparent;
}

/* Modals */

.popover-hotels {
  display: none;
}

/** Index **/

.slogan {
  background-color: #FFFFFF;
  padding: 65px 240px 80px;
  text-align: center;
}

.slogan h2 {
  text-transform: uppercase;

  width: 720px;
  margin: 0 auto;
}

.reasons ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;

  display: flex;
  flex-flow: row wrap;
}

.reasons-item {
  min-width: 400px;
  height: 384px;
  padding: 0px 0px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.reason-image {
  overflow: hidden;
  height: 384px;
}

.reasons-item h3 {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;

  width: 150px;
  margin: 0 auto 25px;
}

.reasons-item img {
  margin: 0 auto 23px;
}

.reasons-item p {
  width: 250px;
  margin: 0 auto 25px;
}

.reason-city,
.reason-bridge {
  background-color: #83B3D3;
  color: #FFFFFF;
}

.reason-city p,
.reason-bridge p {
  width: 220px;
}

.reasons-motel,
.reasons-memento,
.reasons-square,
.reasons-tourists {
  background-color: hsl(204 48% 67% / 0.12);
}

.reasons-way {
  background-color: hsl(204 48% 67% / 0.2);
}

.reasons-food {
  background-color: #FFFFFF;
}

.interested {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 417px;

  background-color: #FFFFFF;
}

.interested h2 {
  text-transform: uppercase;
  margin: 0px 0px 15px 0px;
}

.interested p {
  margin: 0px 0px 50px 0px;
}

.newsletter {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 411px;

  background-image: url("../images/newsletter-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;

  color: #FFFFFF;
}

.newsletter h2 {
  line-height: 50px;
  text-transform: uppercase;

  margin: 0px 0px 15px 0px;
}

.newsletter p {
  margin: 0px 0px 25px 0px;
}

.newsletter form {
  
}

/** Catalog **/

.newsletter-white {
  background-image:none;
  background-color: #FFFFFF;
  color: #333333;
}

/* Filter */

.filter {
  display: flex;
  flex-flow: column nowrap;

  background-image: url("../images/catalog-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;

  padding: 35px 70px 80px;
}

.filter h2{
  margin: 0px 0px 5px 0px;
}

.breadcrumbs {
  margin: 0px 0px 45px 0px;
  padding: 0px;
  list-style-type: none;
}

.breadcrumbs-item {
  display: inline;
}

.breadcrumbs-link {
  color: #FFFFFF;
  text-decoration: none;
}

.filter-form {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.filter h2 {
  color: #FFFFFF;
  font-size: 60px;
}

.filters-fields {
  border: none;
}

.filters-fields legend {
  color: #FFFFFF;
  margin: 0px 0px 30px 0px;
}

.filters-field label {
  color: #FFFFFF;
}

.filters-actions {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.filters-actions .button-info {
  margin-bottom: 20px;
}

/* Hotels */

.hotels-header {
  display: flex;
  flex-direction: row nowrap;
  justify-content: space-between;
  align-items: center;

  margin: 45px 70px 40px 70px;
}

.hotels-header h2 {
  font-size: 30px;

  text-transform: uppercase;
}

.hotels-view {
  display: flex;
  flex-direction: row nowrap;
  justify-content: space-between;

  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.view-item {
  padding: 10px;
  list-style-type: none;
}

.hotels {
  margin: 0px 70px;
  padding: 0px;
  list-style-type: none;
}

.hotel-item:first-of-type {
  border-top:1px solid #f2f2f2 ;
}

.hotel-item {
  display: flex;
  flex-direction: row nowrap;
  justify-content: space-evenly;
  align-items: stretch;
  padding: 30px 0px;

  border-bottom:1px solid #f2f2f2;
}

.hotel-item img {
  width: 180px;
  margin-right: 35px;
}

.hotel-info {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.hotel-title {
  margin: 0px;
  font-size: 24px;
}

.hotel-category {
  margin: 0px;
}

.hotel-title a {
  color: #000000;
  text-decoration: none;
}

.hotels-rating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.hotels-action{
  text-align: center;

  border-bottom:1px solid #f2f2f2;
  padding: 30px 70px;
}

.hotels-footer {
  display: flex;
  flex-direction: row nowrap;
  justify-content: space-between;

  margin: 30px 70px 0px;
}

.stars {
  background-image: url("../images/icons/star.svg");
  width: 0px;
  height: 17px;
}

.stars-1 {
  width: 18px;
}

.stars-2 {
  width: 36px;
}

.stars-3 {
  width: 54px;
}

.stars-4 {
  width: 72px;
}

.stars-5 {
  width: 90px;
}

.rating {
  color: #333333;
  background-color: #f2f2f2;

  text-transform: uppercase;
}

.pagination {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.pagination-item {
  display: inline;
}

.pagination-link {
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #83B3D3;
  color: #FFFFFF;

  border: none;
}
