/* Fonts */

@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/* Common */

html {
  height: 100%;

}

body {
  min-height: 100%;


  display: flex;
  flex-direction: column;

  background-color: #F2F2F2;
  color: #333333;

  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;

  width: 1200px;
  margin: 0px auto;
}

.page-container{
  flex-grow: 1;

  background-color: #FFFFFF;
}

.visually-hidden{
  /* display: none; */
}

/* Header */

.page-header {
  background-color: #FFFFFF;
  color:#000000;
}

.navigation-list{
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.navigation-link {

  color:#000000;
  text-decoration: none;
}

.text-welcome{
  background-image: url("../images/welcome-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;

  text-align: center;
}

.text-welcome::after{
  content: url("../images/welcome-bg-border.svg");
  height: 57px;
  display: block;
}

/* Breadcrumbs */
.breadcrumbs {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.breadcrumbs-item {
  display: inline;
}

.breadcrumbs-link {
  color: #FFFFFF;
  text-decoration: none;
}

/* Footer */

.page-footer {
  background-color: #FFFFFF;
  color:#000000;
}

.page-footer a {
  color:#000000;
  text-decoration: none;
}

.social{
  margin:0px;
  padding:0px;
  list-style: none;
}

.contacts-phone{
  font-size: 40px;
  line-height: 40px;;
}

/* Buttons */

.button {
  font-size:16px;
  text-transform: uppercase;

  background-color: #756257;
  color:#FFFFFF;

  border:none;
}

.button-middle{
  font-size: 18px;
}

.button-large{
  font-size:20px;
}

.button-info {
  background-color: #83B3D3;
  color:#FFFFFF;
}

.button-success {
  background-color: #7DB54F;
  color:#FFFFFF;
}

.button-blank {
  background-color:transparent;
}

/* Modals */

.popover-hotels{
  display: none;
}
